# Directus
NEXT_PUBLIC_DIRECTUS_URL=http://localhost:8055

# Optional Future Settings
NEXT_PUBLIC_APP_NAME=DPSM Intranet
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Directus Static Assets
NEXT_PUBLIC_DIRECTUS_ASSETS_URL=http://localhost:8055/assets

# Search (Future)
MEILISEARCH_HOST=
MEILISEARCH_API_KEY=

# Authentication (Future)
LDAP_URL=
LDAP_BASE_DN=
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=